In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("C:/Users/SDM/Desktop/Titanic_Capstone/Data/Titanic-Dataset.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
## Remove unnecessary columns not useful for survival prediction

df.drop(columns = ["PassengerId", "Ticket"], inplace = True)

In [5]:
## Now Handle Missing Values (Age) - It fills missing Age values using the median age of people with the same Pclass and Sex.

df['Age'] = df.groupby(['Pclass', 'Sex'])['Age'].transform(
    lambda x: x.fillna(x.median()))

In [8]:
## Filling the missing values in the Embarked column with the most common embarkation port.(.mode()[0] Takes the first most frequent value)

df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [9]:
## Places 1 who has cabin and 0 where there is no canin by creating new column
df['Has_Cabin'] = df['Cabin'].apply(lambda x: 0 if pd.isna(x) else 1)
df.drop(columns='Cabin', inplace=True)

In [10]:
## Verifying if data is free of null value

df.isnull().sum()

Survived     0
Pclass       0
Name         0
Sex          0
Age          0
SibSp        0
Parch        0
Fare         0
Embarked     0
Has_Cabin    0
dtype: int64

In [12]:
df.to_csv("outputs/titanic_cleaned.csv", index=False)

## Data Cleaning Summary

- Dropped irrelevant columns such as PassengerId and Ticket
- Handled missing values in Age using median by class and gender
- Filled missing Embarked values using mode
- Converted Cabin into a binary feature indicating availability
- Resulting dataset contains no missing values